/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s; // For animation dark mode
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);  
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}